.s1 .title_box_mbga {
    position: absolute;
    top: 23%;
    padding-left: 5%;
}
.s1 .title_box_mbga span{
    
    font-size: 6rem;
    color: #fff;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 5px;
    background-color:#3FC7D5;
}
.s1 .title_box_mbga p{
    font-size: 6rem;
    color: #fff;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    background-color:#3FC7D5;
}
.s1 .subtitle_box{
    position: relative;
    margin-top: 20%;
    padding-left: 5%;
}
.s1 .subtitle_box p{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}