.s4 .footer_box{
    position: absolute;
    background-color: #404040;
    width: 100%;
    height: 7vh;
    bottom: 0;
}
.s4 .footer_box{
    font-size: 1rem;
    color: gray;
    text-align: center;
    padding-top: 2vh;
}
.s4 .donation_box{
    float: left;
    background-color: #fff;
    margin-top: 7vh;
    margin-left: 10vw;
    height: 20vh;
    width: 75vw;
    border-radius: 2vw;
    box-shadow: 10px 10px 10px grey;
    padding-top: 1vh;
    padding-left: 5vw;
}
.s4 .donation_box .title_box p{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.s4 .donation_box .content_box p{
    font-size: 1rem;
    margin: 0;
    margin-left: 1vw;
}
.s4 .account_box{
    background-color: #EFAE4D;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-top: 2vh;
    margin-right: 5vh;
    margin-left: 2vw;
    border: 0;
    font-size: 1rem;
    border-radius: 20px;
    padding: 1vw;
}
.s4 .account_box p{
    margin: 0;
}
.s4 .homepagelink_box{
    float: left;
    background-color: #fff;
    margin-top: 3vh;
    margin-left: 10vw;
    height: 15vh;
    width: 80vw;
    border-radius: 2vw;
    box-shadow: 10px 10px 10px grey;
    padding-top: 1vh;
}
.s4 .homepagelink_box .title_box p{
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0;
    margin-left: 5vw;
}
.s4 .homepagelink_box .content_box p{
    font-size: 1.1rem;
    margin: 0;
    margin-left: 5vw;
    margin-top: 1vh;
    float: left;
}
.s4 .homepagelink_box img{
    width: 5vw;
    float: left;
    margin-left: 70vw;
    margin-top: 0;

}
.s4 .githublink_box{
    float: left;
    background-color: #fff;
    margin-top: 3vh;
    margin-left: 10vw;
    height: 10vh;
    width: 80vw;
    border-radius: 2vw;
    box-shadow: 10px 10px 10px grey;
    padding-top: 2vh;
}
.s4 .githublink_box .title_box p{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;
    margin-left: 5vw;
}
.s4 .githublink_box .content_box p{
    font-size: 1rem;
    margin: 0;
    margin-left: 5vw;
    margin-top: 1vh;
    text-decoration: underline;
}
.s4 .logo_box{
    float: left;
    background-color: #fff;
    margin-top: 3vh;
    margin-left: 10vw;
    height: 7vh;
    width: 80vw;
    border-radius: 2vw;
    box-shadow: 10px 10px 10px grey;
    padding-top: 3vh;
    text-align: center;
}
.s4 .logo_box img{
    display: inline-block;
    width: 30vw;
}
